::ng-deep .mat-tab-header{
  background-color:#f5f5f0;
}



div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background:  #00ace6
  ;
  /* height: 10px; */
}


::ng-deep .mat-tab-label.mat-tab-label-active{
  color: #000066;
}

::ng-deep .mat-tab-label{
  color:  #797953
  ;
}
