.cab-header{
  margin: 0;
  padding: 15px 0px;
  margin-left: 220px;

  /* margin-left: auto; */
  /* vertical-align: middle; */
}


::ng-deep .mat-form-field {
  width: 125px;
}

::ng-deep .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
  border-top-width: 0;
  height: 2px;
}


::ng-deep .mat-form-field-wrapper{
  padding: 0px;
}
.cabListHeading{
  padding-top: 7px;
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
height: 37px;
}

::ng-deep .mat-form-field-flex{
  border:none;
}

::ng-deep .mat-form-field-label-wrapper{
  height: 60%;
}


select-opt-size{
  max-width: 11.666667%;
}

::ng-deep .mat-button{
background-color:#03A9F4;
color:white;
}

.cab-button{
  border-radius: 8px;
  margin: 0px 8px;
  padding: 2px 20px;
  width: 120px;

}



table {
  /* margin-top: 15px; */
  width: 1280px;
  padding: 5px;
}

.table-container{
  margin-top: 20px;
}

th.mat-sort-header-sorted {
  color: black;
}


@media (min-width: 768px){
  .select-opt-size{
    max-width: 11.666667%;
  }
  .select-date-size{
    max-width:18%;
  }

  .offset-md-2 {
      margin-left: 21.666667%;
  }
}


.mat-row:nth-child(even){
  background-color:#edf7f7;
  }

.mat-row:nth-child(odd){
  background-color:white;
  }
